<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <!-- responsive reconnaissance ecran --->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive reconnaissance ecran --->

    <!-- Feuille de style générale-->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="formulaire-for-php.css">
    <script src="https://kit.fontawesome.com/40784288a5.js" crossorigin="anonymous"></script>



</head>
<body>
<nav id="menu">
    <ul class="center">
        <li>
            <a class="menu-link" href="../index.html">
                <span>
                    <i class="fas fa-home"></i> <!-- Affiche l'icone Home à partir du
                    lien fas fa-home défini sur internet fontawesome.com--->
                </span> <!-- class="link-icon" était présent dans le span--->
                <span class="link-text">Accueil</span>
            </a>
        </li>
        <li>
            <a class="menu-link" href="#">
                <span>
                    <i class="fas fa-info-circle"></i>
                </span>
                <span class="link-text">Informations</span>
            </a>
        </li>
        <li>
            <a class="menu-link" href="#">
                <span>
                    <i class="fas fa-file-signature"></i>
                </span>
                <span class="link-text"><a href="https://forms.gle/vwQ3aA2i2eZLcB5LA">Contact</a></span>
            </a>
        </li>
    </ul>
</nav>
<header>
    <!--
    -> Image d eprésentation
   -> Titre du site /de lapage
   --->
    <h1 id="main-title">Ruée Noèsienne</h1>
    <p></p>
    <h1 id="main-title-2">13 Juin 2021</h1>
    <img id="phone-image" src="../assets/images/rueenoesienne/ruee_0.JPG" alt="Image d'entête"/>
    <img  id="pc-image" src="../assets/images/rueenoesienne/ruee_0.JPG" alt="Image d'entête"/>
</header>


<!-- 1 seul par page; élément principal de lapage --->
<main class="center">
    <h2>Une balade vélo en famille</h2>
    <object data="../assets/texte/ruee_00_test.html"> </object>
    <!--<IFRAME src="../assets/texte/ruee_01.html" scrolling=auto frameborder=1 > </IFRAME>-->
    
    <p></p>
    <p></p>

    <div class="flex-container">
        
        <div class="card w-100">
            <div class="card-image w-100">
                <img src="../assets/images/rueenoesienne/ruee_01.JPG" alt="image carte"/>
            </div>
            <div class="card-txt center">
                <h3>Le parcours Pessac - Le Teich</h3>
                <p>8h Pessac - Moura (37km)</p>
                <p>10h30 Rendez famille</p>
                <p>11h Moura - Le Teich (21km)</p>
                <p>13h Le Teich: Des huitres et du vin blanc</p>
            </div>
            <div class="card-footer center">
                <a href="./ruee_parcours.html">En savoir plus</a>
            </div>
        </div>
        
        
        <div class="card w-100">
            <div class="card-image w-100">
                <img src="../assets/images/rueenoesienne/ruee_04.JPG" alt="image carte"/>
            </div>
            <div class="card-txt center">
                <h3>Inscription en ligne</h3>
                <p>Si vous souhaitez participer, inscrivez-vous.</p>
            </div>
            <div class="card-footer center">
                <a href="https://forms.gle/PYC7XzpxiXUudLGeA">Formulaire</a>
                <p></p>
                <p></p> Si vous ne souhaitez pas utiliser un formulaire Google Form, utiliser le formulaire ci-dessous.
                <a href="../assets/pdf/ruee_inscription.pdf" download="ruee_noesienne.pdf">Télécharger le pdf</a>
            </div>
        </div>

        
        <div class="card w-100">
            <div class="card-image w-100">
                <img src="../assets/images/rueenoesienne/ruee_05.JPG" alt="image carte"/>
            </div>
            <div class="card-txt center">
                <h3>Des parcours depuis 2007</h3>
                <p>Des idées de balades</p>
            </div>
            <div class="card-footer center">
                <a href="#">En préparation</a>
            </div>
        </div>


    </div>
-->
    <!-- liste des cartes / fgrille des cartes--->
    -->
</main>


<footer class="footer">
    <div class="center flex-container">
        <div class="footer-content">
            <h3>Nous suivre</h3>
            <ul>
                <li><a href="https://www.facebook.com/comitequartierdenoes/"> Facebook</a></li>
            </ul>
        </div >
        <div class="footer-content">
            <h3>Nous connaître</h3>
            <ul>
                <li><a>comite-noes@laposte.net</a></li>
                <li><a>+33(0)663620194</a></li>
                <li><a>Maison municipale, rue Pierre Brossolette 33600 Pessac</a></li>
                <!--<li><a href="#">comite-noes@laposte.net</a></li>
                <li><a href="#">+33(0)663620194</a></li>
                <li><a href="#">Maison municipale, rue Pierre Brossolette 33600 Pessac</a></li>-->
           </ul>
        </div>
    </div>
</footer>

</body>
</html>

<!--Parcours 
https://www.routeyou.com/fr/route/view/8954553/itineraire-velo/moura-pres-lacanau-de-mios-le-teich
https://www.routeyou.com/fr-fr/route/view/8954126/piste-velo-recreative/pessac-moura-pres-de-lacanau-de-mios
-->